<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>TeacherSupportIndex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <p>
    <div class="text-right pr-3 pt-2 pb-2"> 
    <form>
        
    <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello currentUserName !" disabled/>
    <br/>
    <div class="d-inline pr-2">
    <button type="button" class=" btn text-white bg-changableColor btn-sm">Log out</button>
    </div>
</form>    
    </div>
</p>
    <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
        <h1>TeacherSupportApp</h1>
        <h5>Make it easy</h5>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">TeacherSupportApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Hello</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportHome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportPublications">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportStudent">Student</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportContact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
                <div class="jumbotron text-center rounded bg-white text-dark mb-0">
                        <h2>About</h2>
                        <h4>Web App developed for UMK purposes by Karolina Makowska.</h4>
                        <p>Create your very own academic teacher website in few easy steps.</p>
                    </div>
            </div>
            <div class="jumbotron text-center rounded-0 bg-white text-dark mb-0">
                    
                   <form>
                    <div class="row">
                           
                                    
                              <!---Uwaga to cale trzeba powielc-->
                              <!--Po wartosci checkbox nie po obrazku bedziemy sie odwolywac obrazek to po prostu obrazek
                            ja jest wiecej to on sam rozklada to na wiersze takze spoko -->     
                            <div class="col pt-2">
                                <p>
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    Wydzial 1
                                </p>
                                <img src="./logo.jpg" class="rounded" alt="...">
                            </div>
                                <!-- ..................................................... -->
                    
                    </div>
                    <button type="submit" class=" btn text-white bg-changableColor btn-sm mt-3">Confirm Faculty</button>
                   </form>    
            </div>
                    
<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright: Karolina Makowska </div>

</body>
</html>

