<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>TeacherSupportStudent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <script>
        $("#files").change(function() {
  filename = this.files[0].name
  console.log(filename);
});
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>

    <script src="/js/jsFiles/teacherSupportAboutMeFiles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>


    <script href="../static/js/postJS.js" th:src="@{js/postJS.js}"
            type="text/javascript"></script>
</head>

<body>
    <p>
        <div class="text-right pr-3 pt-2 pb-2">
            <form>

                <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right"  placeholder="Hello!" th:text="${currentUserName}"
                    disabled/>
                <br/>
                <div class="d-inline pr-2">
                    <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
                </div>
            </form>
        </div>
    </p>
    <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
        <h1>TeacherSupportApp</h1>
        <h5>Make it easy</h5>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">TeacherSupportApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Hello</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportHome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportPublications">Publications</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teacherSupportStudent">Student</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportContact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

        <div class="row">
            <div class="col bg-white jumbotron text-dark mr-3">
                <h4>Add Group</h4>
                <form id="newGroupForm" th:object="${newStudGroupUserAction}" th:action="@{/teacherSupportStudent/addNewGroupUserAction}" method="post" class="form-control bg-gray">

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{version}"/>
                    <input type="text" class="form-control rounded text-center" th:field="*{groupNameField}" />

                </form>
                <div class="text-right mt-2">
                    <button type="submit" form="newGroupForm" class="btn mt-2 bg-changableColor text-white">Add</button>
                </div>

                <form class="mt-3" id="edDeleteGroupForm">

                        <div class="table-responsive makeMeScroll">
                            <table class="table">
                                <tbody>

                                <tr id="studGroupFormCheck" th:each="objStudGroup : ${currentGroups}">
                                    <td th:text="${objStudGroup.groupNameField}"></td>
                                    <td>
                                        <div  class="form-check ">
                                        <input type="radio" name="groupsED" class="form-check-input" th:value="${objStudGroup.groupNameField}"/>
                                        </div>
                                    </td>
                                    <!--...............................................-->
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    <div class="text-right mt-2">
                        <button id="editStudGroupButton" type="button" class="btn bg-changableColor text-white">Edit</button>
                        <button type="button" class="btn bg-changableColor text-white">Delete</button>
                    </div>
                </form>
            </div>

            <div class="col bg-white jumbotron text-dark mr-3">
                <form id="edGroupForm">
                    <div class="row">
                        <div class="col ">
                            <input type="text" class="form-control text-center" placeholder="Group Name: " disabled>
                        </div>
                        <div class="col">
                            <input type="text" id="edGroupFormGroupName" class="form-control rounded text-center d-inline" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control text-center" placeholder="Group Nr: " disabled>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded text-center d-inline" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control text-center" placeholder="Faculty: " disabled>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded text-center d-inline" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control text-center" placeholder="Class Name: " disabled>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded text-center d-inline" />
                        </div>
                    </div>



                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control text-center" placeholder="Day: " disabled>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded text-center d-inline" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control text-center" placeholder="Time: " disabled>
                        </div>
                        <div class="col-2">
                            <input type="time" class="border-0 " />
                        </div>
                        <div class="col-2">
                            <input type="time" class="border-0" />
                        </div>
                    </div>




                    <div class="text-right mt-2">
                        <button type="submit" form="edGroupForm" class="btn mt-2 bg-changableColor text-white">Update</button>
                    </div>
                </form>
            </div>
            <div class="col bg-white jumbotron text-dark mr-3">
                <input type="text" class="form-control text-center" disabled>

                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <div class="form-group mt-4">
                        <h4>Add Resource</h4>
                        <div>

                            <label for="files" class="btn bg-changableColor rounded mt-2 text-white">Add Resource</label>
                            <div class="ml-4">
                            <input id="files" style="visibility:hidden;" type="file" name="uploadfile">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn text-white bg-changableColor rounded " id="btn1">Upload</button>
                    <div class="container bg-changableColor text-white mt-3 rounded-2" id="listFiles" align="center"></div>
                </form>

                <form class="mt-3">
                    <div class="form-check ">
                        <div class="table-responsive makeMeScroll">
                            <table class="table">
                                <tbody>


                                <tr>
                                    <!--To kopiowac-->
                                    <td>Sample Resource</td>
                                    <td>
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="SAMPLE_ID" value="SAMPLE_VALUE">
                                    </td>
                                    <!--...............................................-->
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-right mt-2">
                        <button type="button" class="btn bg-changableColor text-white">Delete</button>
                    </div>
                </form>

            </div>


        </div>
    </div>


    <p class="bg-white"> </p>




    <div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright: Karolina Makowska </div>

</body>

</html>